body {
  background: #f9f7fe;
  font-family: "Roboto", sans-serif;
}

a {
  color: #885df1;
  text-decoration: none;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}
main {
  padding: 30px 0;
  display: none;
}
footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  color: rgba(39, 33, 66, 0.4);
}
.weather-app {
  background: white;
  max-width: 700px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}
.search-input {
  background-color: #f9f7fe;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding: 20px;
  width: 80%;
  border-radius: 6px;
}

.search-button {
  margin-left: 15px;
  font-size: 16px;
  background-color: #885df1;
  color: white;
  border: none;
  padding: 20px;
  line-height: 1;
  border-radius: 5px;
  width: 17%;
}

.current-temperature {
  font-size: 48px;
}

.current-weather {
  display: flex;
  justify-content: space-between;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}
.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #f65282;
}

.current-temperature-icon {
  position: relative;
  top: 20px;
  width: 100px;
  margin-right: 10px;
}

.current-temperature-value {
  font-size: 80px;
  font-weight: bold;
}

.current-temperature-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
}
.errorDisplay {
  text-align: center;
  font-size: 28px;
  font-weight: 900;
}
#forecast {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.weather-forecast-col {
  flex-direction: column;
}
.weather-forecast-date {
  text-align: center;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  margin: 5px 10px;
}
.weather-forecast-icon {
  width: 60px;
  text-align: center;
  margin-left: 10px;
}
.weather-forecast-temperatures {
  text-align: center;
  color: #f65282;
  margin-top: 10px;
  margin-left: 12px;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 10px;
}
